{
  "printWidth": 78,
  "semi": false,
  "trailingComma": "all",
  "quoteProps": "consistent",
  "singleQuote": false,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "proseWrap": "always"
}
