[project]
name = "swash"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "anthropic>=0.75.0",
    "rich>=14.2.0",
    "sdbus>=0.14.1.post0",
]
