* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #000;
  color: ivory;
  margin: 0;
  font: 24px/1.5 "Big Caslon";
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

app {
  display: grid;
  /* center */
  place-items: center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(6px) sepia(0.6) hue-rotate(3deg) saturate(1.2) contrast(0.8)
    brightness(0.6);
}

article {
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 1rem;
  color: #ffffcc;
  padding: 2rem 4rem;
}

p {
  margin: 0;
}

article p message {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

article p message.started {
  opacity: 1;
}

p,
kbd,
samp {
  margin: 0;
  display: flex;
  flex-direction: column;
  border-left: 0.25em solid transparent;
  padding-left: 0.5em;
  min-width: 1em;
  min-height: 1.5em;
}

p.assistant {
  opacity: 0.8;
  white-space: pre-line;
  font-weight: 400;
}

.speaking.user {
  border-left: 0.25em solid #ff9999;
}

.speaking.assistant {
  border-left: 0.25em solid #99ff99;
}

kbd {
  border-color: #3ff;
}
samp {
  border-color: #8f4;
}

span.over {
  opacity: 0.7;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: lowercase;
  padding-left: 0.5em;
}

@keyframes blink {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

kbd,
samp {
  font: inherit;
}
kbd {
  font-style: italic;
}
samp {
  font-style: normal;
}
