* {
  box-sizing: border-box;
  margin: 0;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
  transform: translateY(2px);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(76, 175, 80, 0.5);
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "dlig" 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  background-color: #000;
  color: ivory;
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
}

app {
  display: grid;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(0px) sepia(0.6) hue-rotate(145deg) saturate(1.2) contrast(0.8)
    brightness(0.6);
}

article {
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: #ffffcc;
  padding: 2rem 4rem;
}

p {
  margin: 0;
}

p,
kbd,
samp {
  margin: 0;
  display: flex;
  flex-direction: column;
  border-left: 0.25em solid transparent;
  padding: 0.5em;
  min-width: 1em;
  min-height: 1.5em;
}

p.assistant {
  opacity: 0.8;
  white-space: pre-line;
  font-weight: 400;
}

kbd {
  border-color: #3ff;
}
samp {
  border-color: #8f4;
}

span.over {
  opacity: 0.7;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: lowercase;
  padding-left: 0.5em;
}

kbd,
samp {
  font: inherit;
}
kbd {
  font-style: italic;
}
samp {
  font-style: normal;
}

.retranscribing {
  background: #5ff4;
}

span.interim {
  color: skyblue;
  display: none;
}

span.final {
  color: springgreen;
  display: none;
}
ins.user {
  text-decoration: none;
}

p.typing-animation {
  white-space: pre-wrap;
}
